{:deps  {org.clojure/clojure                  {:mvn/version "1.12.1"}
         org.ring-clojure/ring-core-protocols {:mvn/version "1.14.2"}
         org.clojure/tools.logging            {:mvn/version "1.13.0"}}
 :paths ["src"]}
